*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("../images/background.png");
    overflow-x: hidden;
    overflow-y: hidden;
}

#playMap{
    width: 100%;
    height: 1000px;
}

#player{
    width: 50px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    top: 600px;
}

.ground{
    width: 50px;
    height: 50px;
    background-image: url("../images/tile_0022.png");
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
}

.groundFirst{
    background-image: url("../images/tile_0021.png");
}

.groundLast{
    background-image: url("../images/tile_0023.png");
}

.dirt{
    background-image: url("../images/tile_0122.png");
}

.coal{
    background-image: url("../images/coal.png");
}

.iron{
    background-image: url("../images/iron.png");
}

.trees{
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    width: 500px;
    height: 500px;
}

.treeFirst{
    background-image: url("../images/tile_0137.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.treeTrunk{
    background-image: url("../images/tile_0116.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.treeTrunkLast{
    background-image: url("../images/tile_0097.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.leave-left-top{
    background-image: url("../images/tile_0017.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.leave-middle-top{
    background-image: url("../images/tile_0018.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.leave-right-top{
    background-image: url("../images/tile_0019.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.leave-left-middle{
    background-image: url("../images/tile_0037.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;    
}
.leave-middle-middle{
    background-image: url("../images/tile_0038.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.leave-right-middle{
    background-image: url("../images/tile_0039.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.leave-left-bottom{
    background-image: url("../images/tile_0057.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.leave-middle-bottom{
    background-image: url("../images/tile_0058.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.leave-right-bottom{
    background-image: url("../images/tile_0059.png");
    width: 50px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}

.home-1-1{
    background-image: url("../images/tile_0048.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-2-1{
    background-image: url("../images/tile_0049.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-3-1{
    background-image: url("../images/tile_0050.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-4-1{
    background-image: url("../images/tile_0051.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-1-2{
    background-image: url("../images/tile_0060.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-2-2{
    background-image: url("../images/tile_0061.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-3-2{
    background-image: url("../images/tile_0062.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-4-2{
    background-image: url("../images/tile_0063.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-1-3{
    background-image: url("../images/tile_0072.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-2-3{
    background-image: url("../images/tile_0073.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-3-3{
    background-image: url("../images/tile_0074.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}
.home-4-3{
    background-image: url("../images/tile_0075.png");
    width: 100px;
    height: 100px;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
}