body{
    z-index: -9999;
    pointer-events: none;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-size: min(2vh, 2vw)
}
body *{
    pointer-events:all;
}
#game{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}
#game .layer{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
canvas{
    background: rgba(0, 0, 0, 0);
    z-index: -9999;
}
#game{
    z-index: -999;
}
#game .layer *{
    position: absolute;
}
#game .UI{
    z-index: 9999;
}
#UI{
    position: absolute;
    margin: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0);
}
#UI .res{
    position: absolute;
    height: 9.25%;
    width:  fit-content;
    left: 20px;
    top: 20px;
    color: white;
}

.startScreen{
    width: 100%;
    height: 100%;
    background-image: url("../Res/img/bg.png");
    position: absolute;
    z-index: 999;
}

.startScreen h1{
    display: flex;
    justify-content: center;
    font-size: 100px;
}

.startScreen h2{
    display: flex;
    justify-content: center;
    font-size: 50px;
}

.control{
    display: flex;
    justify-content: space-between;
    margin: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

.control p{
    display: flex;
    justify-content: center;
    font-size: 30px;
}

.button{
    width: 65px;
}

.wasd img{
    width: 200px;
    display: flex;
    margin: 0 auto;
}

.e img{
    display: flex;
    margin: 0 auto;
}

.x img{
    display: flex;
    margin: 0 auto;
}

.k img{
    display: flex;
    margin: 0 auto;
}

.warning{
    color: yellow;
}

.warningText{
    font-size: 30px;
    padding-left: 300px;
    padding-right: 300px;
    text-align: center;
}

#startGame{
    display: flex;
    margin: 0 auto;
    font-size: 30px;
    background-color: goldenrod;
    border: 5px solid sienna;
    border-radius: 20px;
    padding: 10px;
}

#startGame:hover{
    cursor: pointer;
}

.frame {
    margin: 0;
    position: absolute;
    height:  100%;
    max-height: 100px;
    top: 5%;
    background-image: url("../Res/img/UI/Frame.png");
    background-size: contain;
}

.Num{
    position: absolute;
    max-width: 50px;
    max-height: 50px;
    padding: 20px;
    top: 10px;
}

.market{
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    color: white;
    display: none;
}

.selector{
    display: flex;
    justify-content: center;
    margin-top: 200px;
    color: black;
    font-size: 50px;
}

.sell{
    margin: 20px;
    background-color: goldenrod;
    border: 5px solid sienna;
    border-radius: 20px;
    padding: 10px;
}

.sell:hover{
    cursor: pointer;
}

.buy{
    margin: 20px;
    background-color: goldenrod;
    border: 5px solid sienna;
    border-radius: 20px;
    padding: 10px;
}

.buy:hover{
    cursor: pointer;
}

.sellBlock p{
    font-size: 20px;
    vertical-align: middle;
    text-align: middle;
}

.piece{
    padding: 15px;
}

.cost{
    display: flex;
}

.Settings{
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.sellBtn{
    background-color: goldenrod;
    border: 5px solid sienna;
    border-radius: 20px;
    width: 50px;
    display: flex;
    justify-content: center;
    color: black;
    margin: 20px;
    padding: 10px;
}

.sellBtn:hover{
    cursor: pointer;
}

.buyBtn{
    background-color: goldenrod;
    border: 5px solid sienna;
    border-radius: 20px;
    width: 50px;
    display: flex;
    justify-content: center;
    color: black;
    margin: 20px;
    padding: 10px;
}

.buyBtn:hover{
    cursor: pointer;
}

.frameMarket{
    background-image: url("../Res/img/UI/Frame.png");
    background-size: contain;
    width: 75px;
    height: 75px;
    margin: 10px 0 10px 0;
}

.forge{
    position: absolute;
    width: 500px;
    height: 500px;
    left: calc(50% - 250px);
    top: calc(50% - 250px);
    color: white;
    display: none;
}

.resurse{
    background-color: goldenrod;
    border: 5px solid sienna;
    border-radius: 20px;
    color: black;
    font-size: 30px;
    text-align: center;
    padding: 10px;
}

.createPick{
    background-color: goldenrod;
    border: 5px solid sienna;
    border-radius: 20px;
    color: black;
    font-size: 40px;
    padding: 10px;
    margin: 20px;
    text-align: center;
}

.createPick:hover{
    cursor: pointer;
}

.forge h2{
    text-align: center;
}

.notification{
    position: absolute;
    width: 100px;
    height: 50px;
    border: 1px solid white;
    left: calc(50% - 50px);
    top: calc(50% - 25px);
    color: white;
    display: none;
}
